{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .layui-card {
            text-align: left;
        }

        .layui-card-body {
            margin-left: 0;
        }

        .layui-form-item {
            margin-bottom: 0;
        }

        .layui-form-add-item {
            margin-bottom: 20px;
        }

        .layui-inline {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
        }

        #addForm {
            width: 600px; /* 设置表单宽度 */
            margin: 0 auto; /* 居中显示 */
        }

        .button-container {
            text-align: center;
        }

        .layui-form-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .layui-form-label {
            flex: 0 0 auto; /* 不伸缩，不收缩 */
            width: 80px; /* 标签的固定宽度 */
            text-align: right; /* 文本右对齐 */
        }

        .layui-input-inline {
            flex: 1; /* 自适应宽度 */
        }
    </style>

    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" id="searchForm">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">餐厅名称：</label>
                        <div class="layui-input-inline" id="restName"></div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">餐厅类型：</label>
                        <div class="layui-input-inline" id="restType"></div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">餐厅电话：</label>
                        <div class="layui-input-inline" id="restPhone"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">营业时间：</label>
                        <div class="layui-input-inline" id="restTime"></div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">餐厅地址：</label>
                        <div class="layui-input-inline" id="restAdd"></div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">餐厅坐标：</label>
                        <div class="layui-input-inline" id="restCol"></div>
                    </div>


                    <div class="layui-inline">
                        <button type="button" class="layui-btn" id="searchBtn">信息维护</button>
                        <button type="button" class="layui-btn" id="confirmBtn" style="display: none;">信息确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div id="addForm" style="display: none;">
        <form class="layui-form">
            <div class="layui-form-add-item">
                <label class="layui-form-label">轮播类型</label>
                <div class="layui-input-inline">
                    <select id="carouselId" name="carouselId" lay-verify="required">
                    </select>
                </div>
            </div>
            <div class="layui-form-add-item">
                <label class="layui-form-label">轮播名称</label>
                <div class="layui-input-block">
                    <input type="text" id="addCarouselName" name="addCarouselName" lay-verify="required"
                           placeholder="请输入菜品名称"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-add-item">
                <label class="layui-form-label">展示时间</label>
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" name="timeRange" placeholder="请选择时间范围"
                           autocomplete="off" class="layui-input" id="timeRange">
                </div>
            </div>
            <div class="layui-form-add-item">
                <label class="layui-form-label">上传图片</label>
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="uploadBtn">上传图片</button>
                    <input type="hidden" id="imageUrl" name="file" autocomplete="off" class="layui-input">
                    <div id="imagePreview" style="margin-top: 10px;"></div>
                </div>
            </div>

        </form>
    </div>


    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <button class="layui-btn" id="addBtn">新增轮播</button>
                </div>
            </div>
            <table id="dataList" lay-filter="dataList"></table>
        </div>
    </div>

    <!-- 分页控件 -->
    <div id="pagination" style="margin-top: 20px;"></div>

    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/layui/2.6.8/layui.js"></script>

    <script>
        layui.use(['form', 'table', 'laypage', 'layer', 'upload',], function () {
            var form = layui.form;
            var table = layui.table;
            var laypage = layui.laypage;
            var layer = layui.layer;
            var laydate = layui.laydate;
            var upload = layui.upload;
            // 初始化日期时间选择器
            laydate.render({
                elem: '#timeRange',
                type: 'datetime', // 设置日期时间选择器的类型为日期时间
                range: true, // 开启时间范围选择
                theme: 'molv' // 设置主题样式
            });

            $.ajax({
                url: '/dl_order/order/getRest',  // 替换为你的后端接口 URL
                type: 'GET',
                success: function (res) {
                    var data = res.data;
                    $('#restName').text(data.restaurantName);
                    $('#restType').text(data.restaurantType);
                    $('#restPhone').text(data.restaurantPhone);
                    $('#restTime').text(data.openingHours);
                    $('#restAdd').text(data.restaurantAddress);
                    $('#restCol').text(data.navigationCoordinates);
                    form.render();
                },
                error: function (err) {
                    console.error('Error fetching data:', err);
                }
            });

            $.ajax({
                url: '/dl_order/order/getCarouselDictList',
                type: 'GET',
                success: function (res) {
                    var data = res.data;
                    var selectOptions = '<option value="">所有</option>';
                    for (var i = 0; i < data.length; i++) {
                        selectOptions += '<option value="' + data[i].carouselId + '">' + data[i].carouselName + '</option>';
                    }
                    $('select[name="carouselId"]').html(selectOptions);
                    form.render('select');
                },
                error: function (err) {
                    console.error('Error fetching data:', err);
                }
            });


            $('#searchBtn').click(function () {
                $('.layui-input-inline').each(function () {
                    var $input = $(this);
                    var id = $input.attr('id');
                    var value = $input.text().trim();
                    $input.empty().append('<input type="text" id = "' + id + '"class="layui-input" value="' + value + '">');
                });
                $('#searchBtn').hide();
                $('#confirmBtn').show();
            });

            $('#confirmBtn').click(function () {
                var formData = {};
                $('.layui-input-inline').each(function () {
                    var $input = $(this);
                    var fieldName = $input.find('input').attr('id'); // 假设输入框的name属性对应表单数据的字段名
                    formData[fieldName] = $input.find('input').val();
                });
                $.ajax({
                    url: '/dl_order/order/updateRest',  // 替换为后端保存数据的URL
                    type: 'POST',
                    data: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}' // 使用 Django 提供的模板标签获取 CSRF 令牌
                    },
                    success: function (res) {
                        if (res.success) {
                            $('#searchBtn').show();
                            $('#confirmBtn').hide();
                            $('.layui-input-inline').each(function () {
                                var $input = $(this);
                                var id = $input.attr('id');
                                var value = $input.find('input').val(); // 使用新值填充
                                $input.empty().text(value); // 将原始内容填充回去
                            });
                        }
                    },
                    error: function (err) {
                        console.error('Error saving data:', err);
                    }
                });
            });

            $('#addBtn').click(function () {
                layer.open({
                    type: 1,
                    title: '新增轮播',
                    area: ['800px', '700px'],
                    content: $('#addForm'), // 弹出新增页面的内容，即下面的表单
                    btn: ['确认新增', '取消'],
                    yes: function (index, layero) {
                        var formData = {
                            addCarouselName: $('#addCarouselName').val(),
                            carouselType: parseInt($('#carouselId').val()),
                            imageUrl: $('#imageUrl').val(),
                            timeRange: $('input[name="timeRange"]').val(),
                        };
                        console.log(formData)
                        $.ajax({
                            url: '/dl_order/order/addCarousel',  // 替换为你的后端新增接口 URL
                            type: 'POST',
                            data: formData,
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'  // 使用 Django 提供的模板标签获取 CSRF 令牌
                            },
                            success: function (res) {
                                if (res.success) {
                                    layer.msg('新增成功');
                                    layer.close(index);
                                    $.ajax({
                                        url: '/dl_order/order/getRestaurantCarouselList',  // 替换为你的后端搜索接口 URL
                                        type: 'GET',
                                        success: function (res) {
                                            if (res.success) {
                                                // 更新表格数据
                                                table.reload('dataList', {
                                                    data: res.data
                                                });
                                            }
                                        },
                                        error: function (err) {
                                            console.log(err);
                                        }
                                    });

                                } else {
                                    layer.msg('新增失败: ' + res.message);
                                }
                            },
                            error: function (err) {
                                console.log(err);
                                layer.msg('新增失败，请重试');
                            }
                        });
                    },
                    btn2: function (index, layero) {
                        $('#adddishName').val('').prop('readonly', false);
                        $('#stockQuantity').val('').prop('readonly', false);
                        $('#firstCategoryId').val('').prop('disabled', false);
                        $('#secondCategoryId').val('').prop('disabled', false);
                        $('#imageUrl').val('').prop('readonly', false);
                        $('#dishStatus').prop('checked', false).prop('disabled', false);
                        $('#dineInDisplayStatus').prop('checked', false).prop('disabled', false);
                        $('#takeoutDisplayStatus').prop('checked', false).prop('disabled', false);
                        $('.tag-input').val('').prop('readonly', false);
                        $('#uploadBtn').val('').show(); // 显示上传按钮
                        form.render(); // 重新渲染表单
                        layer.close(index);
                    },
                    cancel: function () {
                        // 点击窗口右上角关闭按钮时的处理，同样恢复表单状态
                        $('#adddishName').val('').prop('readonly', false);
                        $('#stockQuantity').val('').prop('readonly', false);
                        $('#firstCategoryId').val('').prop('disabled', false); // 设置为可用
                        $('#secondCategoryId').val('').prop('disabled', false); // 设置为可用
                        $('#imageUrl').val('').prop('readonly', false);
                        $('#dishStatus').prop('checked', false).prop('disabled', false);
                        $('#dineInDisplayStatus').prop('checked', false).prop('disabled', false);
                        $('#takeoutDisplayStatus').prop('checked', false).prop('disabled', false);
                        $('.tag-input').val('').prop('readonly', false);
                        $('#uploadBtn').show(); // 显示上传按钮
                        form.render(); // 重新渲染表单
                    }
                });
            });

            {#table#}
            table.render({
                elem: '#dataList',
                data: {{ data | safe }},
                limit: 10,
                cols: [[
                    {#{field: 'carouseltype', title: '轮播类型'},#}
                    {
                        field: 'carouseltype',
                        title: '轮播类型',
                        templet: function (d) {
                            if (d.carouseltype === 1) {
                                return '餐厅图轮播';
                            } else {
                                return '招牌图轮播';
                            }
                        }
                    },


                    {field: 'carouselname', title: '轮播名称'},
                    {
                        field: 'carouselimageurl', title: '轮播图片', templet: function (d) {
                            return '<div><img src="' + d.carouselimageurl + '" alt="轮播图片" style="max-width: 40px; max-height: 40px;"></div>';
                        }
                    },
                    {field: 'carouseltimerange', title: '时间范围'},
                    {field: 'publishedat', title: '发布时间'},
                    {field: 'createdby', title: '发布人'},
                    {field: '操作', title: '操作', toolbar: '#btnGroup', width: 300, align: 'center'},
                ]]
            });
            {#分页#}
            laypage.render({
                elem: 'pagination',
                count: {{ count }},
                limit: 10,
                layout: ['prev', 'page', 'next', 'skip'],
                jump: function (obj, first) {
                    if (!first) {
                        $.ajax({
                            url: '/dl_order/order/getDishList',  // 替换为你的后端接口 URL
                            type: 'GET',
                            data: {
                                page: obj.curr,
                                pageSize: obj.limit
                            },
                            success: function (res) {
                                if (res.success) {
                                    // 更新表格数据
                                    table.reload('dataList', {
                                        data: res.data
                                    });
                                }
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        });
                    }
                }
            });

            table.on('tool(dataList)', function (obj) {
                var data = obj.data;
            });
            {#点击图片上传按钮#}
            upload.render({
                elem: '#uploadBtn',
                url: 'https://third.zhihuilonghu.com/file/api/upload', // 替换为实际的上传接口 URL
                accept: 'images', // 接受文件类型
                auto: true, // 自动上传
                data: {filePath: 'order'},
                {#headers: {#}
                {#    'X-CSRFToken': '{{ csrf_token }}'  // 使用 Django 提供的模板标签获取 CSRF 令牌#}
                {# },#}
                done: function (res) {
                    console.log(res)
                    if (res.code === 200) {
                        $('#imageUrl').val(res.data.fileUrl); // 将图片链接填入隐藏域
                        $('#imagePreview').html('<img src="' + res.data.fileUrl + '" alt="预览图片" style="max-width: 100px; max-height: 100px;">'); // 显示图片预览
                        layer.msg('上传成功', {icon: 1});
                    } else {
                        layer.msg('上传失败', {icon: 2});
                    }
                },
                error: function () {
                    layer.msg('上传接口异常', {icon: 2});
                }
            });
        });
    </script>

    <script type="text/html" id="btnGroup">
        <div class="button-container">
            <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view">查看</button>
            <button class="layui-btn layui-btn-xs" lay-event="edit">编辑</button>
            <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</button>
        </div>
    </script>

{% endblock %}
